[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
boto3 = "*"
pydantic = "*"
auto-py-to-exe = "*"
flask-mysqldb = "*"
flask-cors = "*"
flask-bcrypt = "*"
autopep8 = "*"
awscli = "*"

[dev-packages]
flask = "*"
boto3 = "*"
pydantic = "*"
auto-py-to-exe = "*"
flask-mysqldb = "*"
flask-cors = "*"
flask-bcrypt = "*"
pylint = "*"

[requires]
python_version = "3.7"
